@import "tailwindcss";

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --highlight: #fdea00;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: monospace;
}

a {
    color: var(--highlight);
}
